body {
        padding-top: 40px;
        padding-bottom: 40px;
        background: url(../img/paper.jpg);
    }


/*---@font faces*/

@font-face {
  font-family: Delicious;
  src: url('fonts/Melbourne bold basic.otf');
}

@font-face {
  font-family: Elephant;
  src: url('fonts/ELEPHNT.TTF');
}
@font-face{
    font-family: fontAwesome;
    src: url('fonts/fontAwesome.otf');

}
/*---End @font face*/
h4{
  font-family: Delicious;
  color: green;  
}


      /*---Login Form*/

 .form-signin {
height: 290px;
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 30px auto 100px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 10px;
           -moz-border-radius: 10px;
                border-radius: 15px;
        -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.05);
           -moz-box-shadow: 0 5px 6px rgba(0,0,0,.05);
                box-shadow: 5px 5px 10px 0px #808080;
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        margin-left: 4px;
        padding: 7px 9px;
        font-style: bold;
      }

      /*---End Login Form*/

      /*---Rows*/

.hero-unit .span4 {
    margin-left: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    border: 2px solid #eee;
    height: 200px;
    width: 300px;
    box-shadow: 5px 5px 10px 0px #808080;
    background: #fff;
    opacity: 0.8;
}
 .hero-unit .span2 {
    margin-left:44px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    background:#F6F6F6;
    height: 200px;
    box-shadow: 0 0px 0 #fff, 0 0 3px #333;
}

.hero-unit .span2:hover { 
    margin-top: 1px; 
    border-radius: 10px;
    box-shadow: 1px 1px 0px 0px #808080;
} 
.hero-unit .span6 {
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0px 0 #fff, 0 0 3px #333;
    background: #fff;
    opacity: 0.8;
    height: 190px;
    width: 575px;
}
/*
.hero-unit .span3 {
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0px 0 #fff, 0 0 3px #333;
    background: #fff;
    opacity: 0.8;
    height: 300px;
    width: 400px;
}*/
.hero-unit .span9 {
    margin-left: 50px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0px 0 #fff, 0 0 3px #333;
    background: #fff;
    opacity: 0.8;
    height: 90px;
    width: 800px;
}
.hero-unit .span8 {
  width: 880px;
  height: 20px;
    margin-left: 0px;
    padding: 10px;
    font-weight: bold;
    line-height: 20px;
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: 20px;
    background-color:#E6F1F6;
    background-image: linear-gradient(rgb(250, 250, 250), rgb(234, 234, 234));
    color: rgb(85, 85, 85);
    text-shadow:0px 1px 0px rgb(255, 255, 255);
    border-bottom: 1px solid rgb(216, 216, 216);
    background-repeat: repeat-x;
}

.hero-unit .span7{
    margin-left: 40px;
    margin-bottom: 10px;
    border: 2px solid #eee;
    margin-top: 60px;
    box-shadow: 5px 5px 10px 0px #808080;
    background: #000;
    opacity: 0.8;
    color: #fff;
}

.hero-unit .span5{
  margin-right: -10px;
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: -30px;
    opacity: 0.8;
    color: #fff;
}

.hero-unit .new{
          box-shadow: 0px 0px 0px 0px #808080;
          opacity: 0.6;
}
      /*---End Rows*/

      .container {
        width: 900px;
      }

      .container h1{
        font-family: Elephant;
      }
      .container h4{
        font-family: FREESCPT;
      }

      /*--Search Form---*/
      .form-search{
        margin-top: 30px;
        margin-left: 150px;
        border:0px;
      }
